<app-header></app-header>
<div class="container-fluid">
    <div id="cursosTerminados">
        <h1>Cursos Terminados</h1>
        <ul id=listacursosTerminados>    
            <li>   
                <p>curso 1</p>
            </li>
            <li>   
                <p>curso 1</p>
            </li>
            <li>   
                <p>curso 1</p>
            </li>
            <li>   
                <p>curso 1</p>
            </li>
            <li>   
                <p>curso 1</p>
            </li>
            <li>   
                <p>curso 1</p>
            </li>

        </ul>

    </div>
   
    <div id="otrosCursos">
        <h1>Otros cursos</h1>
        <ul id="listaotrosCursos">
            <li>
                otro curso
            </li>
            <li>
                otro curso
            </li>
            <li>
                otro curso
            </li>

            <li>
                otro curso
            </li>
            <li>
                otro curso
            </li>

        </ul>
    </div>
    

</div>
