ul li{
    list-style-type: none;
   
  }
  
ul{
    position: relative;
    display: flex;
    align-items: center;
  }
  h2{
    font-size:medium ; 
    margin: 2rem; 
  }
.container-fluid{
    background-color: rgb(92, 92, 153);   
}